<configuration xmlns="http://moxa.org/schema/config">
    <aliasFactory>
        <property name="ds" value="com.moxa.dream.example.driver.MyDataSourceFactory"/>
    </aliasFactory>
    <cacheFactory>
                <property name="enabled" value="false"/>
    </cacheFactory>
    <mapperFactory>
        <mapping package="com.moxa.dream.example.driver.mapper"/>
    </mapperFactory>
    <tableFactory>
        <mapping package="com.moxa.dream.example.driver.table"/>
    </tableFactory>
    <typeHandlerFactory>
    </typeHandlerFactory>
    <pluginFactory>
        <interceptor type="com.moxa.dream.driver.page.interceptor.PageInterceptor"/>
    </pluginFactory>
    <listenerFactory>
        <listener type="com.moxa.dream.example.driver.MyListener"/>
    </listenerFactory>
    <dialectFactory dialect="${mysql}">
    </dialectFactory>
    <transactionFactory>
    </transactionFactory>
    <dataSourceFactory type="${ds}">
    </dataSourceFactory>
</configuration>