<configuration xmlns="http://moxa.com/schema/config">
    <cacheFactory>
                <property name="enabled" value="false"/>
    </cacheFactory>
    <mapperFactory>
        <mapping package="com.moxa.dream.example.driver.mapper"/>
    </mapperFactory>
    <tableFactory>
        <mapping package="com.moxa.dream.example.driver.table"/>
    </tableFactory>
    <pluginFactory>
        <interceptor type="com.moxa.dream.driver.page.interceptor.PageInterceptor"/>
    </pluginFactory>
    <dataSourceFactory type="com.moxa.dream.example.driver.MyDataSourceFactory">
    </dataSourceFactory>
</configuration>
